<div class="container my-5">
  <div class="row">
    <h2>店舗一覧</h2>
  </div>

  <div class="row text-right">
    <%= link_to "+",new_admin_store_information_path,class:"btn btn-lg rounded-circle text-right ml-auto shadow-sm" %>
  </div>

  <div class="row mt-3">
    <div class="offset-sm-1 col-sm-10">
      <div class="error">
        <%= flash[:store_created_error] %>
      </div>
      <table class="table table-striped table-hover text-center">
        <thead>
          <tr>
            <th>店舗ID</th>
            <th>店舗名</th>
            <th>住所</th>
            <th>アクセス</th>
            <th>営業時間</th>
            <th>イートインスペース</th>
            <th>定休日</th>
          </tr>
        </thead>

        <tbody>
          <% @store_informations.each do |store_information| %>
            <tr>
              <td><%= store_information.id %></td>
              <td><%= link_to store_information.name,admin_store_information_path(store_information) %></td>
              <td><%= store_information.address %></td>
              <td><%= store_information.access %></td>
              <td><%= store_information.business_hours %></td>
              <td><%= store_information.eat_in_space %></td>
              <td><%= store_information.regular_holiday %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>