<div class="background">
<div class="bacground-content">
  <div class="container my-5">
    <div class="row">
      <div class="col text-center">
        <div class="">
          <div class="all_field">
          <h2>Sign up</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "user/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :ScreenName %><br>
            <%= f.text_field :screen_name %>
          </div>

          <div class="field">
            <%= f.label :Email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "col-xs-4" %>
          </div>

          <div class="field">
            <%= f.label :Password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> letters or more)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" ,class: "col-xs-4" %>
          </div>

          <div class="field">
            <%= f.label :Passwordconfirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "col-xs-4" %>
          </div>

          <div class="actions my-4">
            <%= f.submit "Register" %>
          </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

