<div class="background">
<div class="bacground-content">
  <div class="container my-5">
    <div class="row">
      <div class="col text-center">
        <div class="text-light">
          <div class="new_group">
          <%= form_with(model: @user, url: user_user_path, local: true) do |f| %>
          <div class="row mt-5">
            <div class="col-sm-5">
              <%= f.label :Profileimage %>
              <%= f.file_field :profile_image,accept: "image/*" %>
            </div>
            <div class="col-sm-5">
              <div class="form-group row">
                <%= f.label :Screenname, class:"col-sm-8" %>
                <%= f.text_field :screen_name, class:"form-control col-sm-8" %>
              </div>
            </div>
            <div class="col-sm-10 my-5">
              <%= f.submit :register %>
            </div>
            <div class="col-sm-10 my-5">
              <%= link_to '退会する', user_quit_path, class: "Editlink"%>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
