<div class="container my-5">
  <div class="row">
    <div class="col text-center">
      <div class="p-3 mb-2 bg-light text-black">
        <%= form_with(model: @post, url: user_post_path, local: true) do |f| %>
        <div class="row mt-5">
          <div class="col-sm-4">
            <%= f.label :プロフィール画像 %>
            <%= f.file_field :profile_image_url,accept: "image/*" %>
          </div>
          <div class="col-sm-5">
            <div class="form-group row">
              <%= f.label :ハンドルネーム, class:"col-sm-4" %>
              <%= f.text_field :screen_name, class:"form-control col-sm-8" %>
            </div>
          </div>
          <div class="col-sm-12">
            <%= f.submit :登録 %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

