<div class="container my-5">
  <div class="row">
    <div class="col text-center">
      <div class="p-3 mb-2 bg-light text-black">
          <div class=”card” style=”width: 18rem;”>
            <div class=”card-body”>
              <%= image_tag @post.get_image, size: "300x300" %>
                <h5 class=”card-title”><%= @post.title %></h5>
                <p class=”card-text”><%= @post.text %></p>
                <p>Post time：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
                <% if @post.user == current_user %>
                  <%= link_to "Delete", user_post_path(@post), method: :delete, "data-confirm" => "本当に削除してよろしいですか?" %>
                <% end %>
            </div>
          </div>

          <div class="p-3 mb-2 bg-secondary text-white">
            <span><%= @post.title %>に投稿されたコメント一覧</span>
          </div>
          <div class=”card” style=”width: 18rem;”>
            <% @post.comments.each do |comment| %>
            <ul class="list-group list-group-flush">
              <%= comment.user.screen_name %>:
              <%= comment.created_at.strftime('%Y/%m/%d') %>  :  <%= comment.comment %>
              <% if comment.user == current_user %>
                <%= link_to "Delete comment", user_post_comment_path(comment.post, comment), method: :delete %>
              <% end %>
            </ul>
            <% end %>
          </div>
          <div>
            <% if user_signed_in? %>
            <%= form_with model: [:user, @post, @comment] , local: true do |f|  %>
            <div class="col-sm-12 my-2">
              <p>コメント件数：<%= @post.comments.count %></p>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            </div>
            <div class="col-sm-12 my-2">
              <%= f.submit "送信する" %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
