<div class="container my-5">
  <div class="row">
    <h2>会員情報編集</h2>
  </div>

  <div class="row d-flex justify-content-center">
    <% if flash[:notice] %>
     <span class="text-danger"><% flash[:notice] %></span>
    <% end %>
  </div>

    <div class="row mt-3 flex-column align-items-center">
      <%= form_with model: [:admin, @user], local: true do |f| %>

      <div class="form-group row">
        <%= f.label :会員ID, class:"col-sm-4" %>
        <%= f.label @user.id, class:"col-sm-8" %>
      </div>

      <div class="form-group row">
        <%= f.label :ハンドルネーム, class:"col-sm-4" %>
        <%= f.text_field :screen_name, class:"form-control col-sm-8" %>
      </div>

      <div class="form-group row">
        <%= f.label :メールアドレス, class:"col-sm-4" %>
        <%= f.text_field :email,class:"form-control col-sm-8" %>
      </div>


      <div class="form-group row">
        <%= f.label :会員ステータス, class:"col-sm-4" %>
        <%= f.radio_button :is_deleted, :false %>
        <%= f.label :is_deleted, "有効",class: "col my-2" %>
        <%= f.radio_button :is_deleted, :true %>
        <%= f.label :is_deleted, "退会",class: "col my-2" %>
      </div>

      <div class="row">
        <%= f.submit "変更を保存", class: "btn btn-primary mx-auto" %>
      </div>
      <% end %>
    </div>
</div>
