<div class="background">
<div class="bacground-content">
<div class="container my-5">
  <div class="row">
    <div class="col text-center">
      <div class="new_group">
        <h2>List of stores</h2>
        <%= form_with url: user_store_informations_path, method: :get, local: true do |f| %>
          <%= f.text_field :search %>
          <%= f.submit "Search", name: nil %>
        <% end %>

        <div class="row mt-3 mb-3 text-center text-md-left">
          <% @store_informations.each do |store_information| %>
            <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
              <div>
                <%= link_to user_store_information_path(store_information) do %>
                <p class="img-wrap"><%= image_tag store_information.store_image_url, size: "200x200", format: "jpeg", fallback: "no_image.jpeg", class:"lb" %></p>
                <% end %>
                <div class="card-body">
                  <p class="card-text"><%= store_information.name %></p>
                </div>
              </div>
            </div>
          <% end %>
          <%= paginate @store_informations %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>