<div class="container my-5">
  <div class="row">
    <div class="col text-center">
      <div class="p-3 mb-2 bg-light text-black">
        <div class="row mt-4 mb-3 text-center text-md-left">
          <div class="col-lg-6">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>
                    <%= image_tag @store_information.store_image_url, size: "300x300", format: "jpeg", fallback: "no_image.jpeg", class:"lb" %>
                  </td>
                </tr>
                <tr>
                  <td>店舗名</td>
                  <td><%= @store_information.name %></td>
                </tr>
                <tr>
                  <td>住所</td>
                  <td><%= @store_information.address %></td>
                </tr>
                <tr>
                  <td>アクセス</td>
                  <td><%= @store_information.access %></td>
                </tr>
                <tr>
                  <td>営業時間</td>
                  <td><%= @store_information.business_hours %></td>
                </tr>
                <tr>
                  <td>イートインスペース</td>
                  <td><%= @store_information.eat_in_space %></td>
                </tr>
                <tr>
                  <td>定休日</td>
                  <td><%= @store_information.regular_holiday %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class=" p-3 mb-2 bg-secondary text-white">
          <span><%= @store_information.name %>に投稿されたコメント一覧</span>
        </div>
        <div class=”card” style=”width: 18rem;>
          <% @store_information.store_comments.each do |store_comment| %>
          <%= image_tag @user.get_profile_image(100,100) %>
          <ul class="list-group list-group-flush">
            <strong><%= store_comment.user.screen_name %></strong>
            <p>評価 : <%= store_comment.store_rate %>点 |</p>
            <%= store_comment.store_comment %>
              <div id="star-rate<%= store_comment.id %>"></td>
                <script>
                  $('#star-rate<%= store_comment.id %>').empty();
                  $('#star-rate<%= store_comment.id %>').raty({
                    size      : 32,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    starHalf  : '<%= asset_path "star-half.png" %>',
                    half      : false,
                    readOnly: true,
                    score: <%= store_comment.store_rate %>,
                  });
                </script>
              </div>
            <% if store_comment.user == current_user %>
              <%= link_to "削除",  user_store_information_store_comment_path(store_comment.store_information, store_comment), method: :delete %>
            <% end %>
          </ul>
          <% end %>
        </div>
        <p>コメント件数：<%= @store_information.store_comments.count %></p>
          <%= form_with model: [:user, @store_information, @store_comment] do |f| %>
          <div class="col-sm-12 my-2">
            <div class="field" id="star">
              <%= f.label :store_rate, '評価：' %>
              <%= f.hidden_field :store_rate, id: :review_star %>
              <script>
                $('#star').empty();
                $('#star').raty({
                  size     : 36,
                  starOff:  '<%= asset_path "star-off.png" %>',
                  starOn : '<%= asset_path "star-on.png" %>',
                  starHalf: '<%= asset_path "star-half.png" %>',
                  scoreName: 'store_comment[store_rate]',
                  half: true,
                });
              </script>
            </div>
            <%= f.text_area :store_comment, rows: '5', placeholder: "コメントをここに" %>
            <div class="col-sm-12 my-2">
              <%= f.submit "送信する" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
